body {
    box-sizing: border-box;
    font-family: Abel;
    background-color: black;
    /* background-image: url(../images/pexels-steve-johnson-1509534.jpg); */
}

select {
    text-align: center;
    font-family: monospace;
    margin-top: 20px;
}

select:hover {
    border-color: rgb(253, 228, 105);
    box-shadow: 1px 1px 10px 1px rgb(253, 228, 105);
    color: rgb(251, 210, 6);
}


input {
    text-align: center;
    background-color: black;
    margin-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
    font-weight: 700; 
}


